.grid-container-element { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  border: 1px solid black; 
  width: 50%; 
} 
.grid-child-element { 
  margin: 10px; 
  border: 1px solid red; 
}

h2 {
  color: #000000;
  text-align: center;
}



.todo-form input {
  display: inline-block;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 4em;
}

.todo-list >li{
display: flex;
flex-direction: row;
line-height: 0;
}